@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/UnicaucaNotes.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="../../public/images/favicon.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                UnicaucaNotes
              </a>
            </div>
          </nav>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
        <div class="Footer">
            <p>Made By SantiAV25</p>
            <a href="">Github</a>
            <a href="">Linkedin</a>
        </div>

      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
