@()

@main("register"){
    <form>
        <div class="mb-3">
          <label class="form-label">UserName</label>
          <input type="text" class="form-control"> 
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control"> 
        </div>
        <div class="mb-3">
            <label class="form-label">email</label>
            <input type="text" class="form-control"> 
          </div>
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control"> 
          </div>
          <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control"> 
          </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
}